nav {background-color:olivedrab; font-family: Arial, Helvetica, sans-serif;}
span class="index.html"
 nav {margin-bottom: 50px;
  text-align: center;
  text-decoration-color: darksalmon;}
body {color:dimgrey}
body {
    background-color:honeydew; font-family: Arial, Helvetica, sans-serif;}
h1 {color: sienna; font-family: Arial, Helvetica, sans-serif; text-align: right; font-size: medium;}
h2 {color:sienna; font-family: Arial, Helvetica, sans-serif;}
